body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ced4da;
    width: 100%;
    height: 75px;
    background-color: #fff;
    padding: 10px 30px;
    opacity: 0.9;
    font-family: 'Sunflower', sans-serif;
}

.menu a {
    outline: none;
    margin-right: 1.25rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
}



a.menu-item{
	text-decoration : none;
	color : #000
}

.menu-item a:hover{
	
	text-decoration : none;
}

.menu-item a:link .menu{
	text-decoration : none;
}

.menu-item a:visited .menu{
	text-decoration : none;
}


.menu {
    padding-right: 3rem;
}

.menu-item {
    font-size: 1.5rem;
}

